// Color
$color-primary          : #55c57a;
$color-primary-light    : #4ff36b;
$color-primary-dark     : #28b485;

$color-secondary-light  : #ffb900;
$color-secondary-dark   : #ff7730;

$color-tertiary-light   : #2998ff;
$color-tertiary-dark    : #5643fa;

$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;


$color-grey-dark    : grey;
$color-grey-dark-1  : #999;
$color-grey-dark-2  : rgb(65, 65, 65);


$color-black    : black;
$color-white    : white;

$purple-dark :#4C0049;
$purple-light :#ED1652;

// Grid


// font
$navbar-font    : 'Montserrat', sans-serif;
$navbar-font2   : 'Comfortaa', cursive;
$footer-font    : 'Mada', sans-serif;
$lato           : 'Lato', sans-serif;
